<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

        <li id="nav-ivthistory">
            <a href="{{ url_for('main.ivts') }}">
                <span class="glyphicon glyphicon-list"></span> Dashboard
            </a>
        </li>

        <li id="nav-shipped">
            <a href="{{ url_for('main.shipped') }}">
                <span class="glyphicon glyphicon-tags"></span> Shipped
            </a>
        </li>

        <li id="nav-machines">
            <a href="{{ url_for('main.machines') }}">
                <span class="glyphicon glyphicon-hdd"></span> Machines
            </a>
        </li>

        <li id="nav-testcases">
            <a href="{{ url_for('main.testcases') }}">
                <span class="glyphicon glyphicon-list-alt"></span> Testcases
            </a>
        </li>

        <li id="nav-test-dashboard">
            <a href="#">
                <span class="glyphicon glyphicon-education"></span> Documentation
            </a>
        </li>
        

        {##% if current_user.is_authenticated %##}
        <li>
            <a href="#">
                Profile
            </a>
        </li>
        {##% endif %##}

    </ul>

    <ul class="nav navbar-nav navbar-right">
        {##% if current_user.is_authenticated %##}
            <li><a href="#">Sign Out</a></li>
        {##% else %##}
            <li><a href="#">Sign In</a></li>
        {##% endif %##}
    </ul>

</div><!--/.nav-collapse -->
