{% extends "base.html" %}

{% block page_content %}

    <div class="row top-buffer">
        <div class="col-sm-12" id="ivthistory_grid_container">
            <table id="ivthistory_grid" class="summary_report"></table> 
            <div id="ivthistory_grid_pager" class="summary_report_pager"></div>
        </div>
    </div>
{% endblock %}

{% block docready %} 
    jQuery("li#nav-ivthistory").addClass("active");
    {% include  "main/ivts/ivts.js" %}
{% endblock %} 
