<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Infinidat&trade; IVT Dashboard</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico', r=82845) }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico', r=82845) }}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.jqgrid-4.14.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/stefangabos/Zebra_Dialog/dist/css/default/zebra_dialog.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">

        {% block head %}{% endblock %}

    </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IVT Dashboard</a>
        </div>

        {% include  "main/menu.html" %}

      </div>
    </nav>

    {% block content %}
    <div class="container">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted credit">&copy; 2017 Infinidat Ltd.</p>
      </div>
    </footer>
    
    {% block external_script %}

        <script language="javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/gh/stefangabos/Zebra_Dialog/dist/zebra_dialog.min.js"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/jquery.jqgrid-4.14.0.min.js') }}"></script>
        <script language="javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {## moment.include_moment() ##}
        {## pagedown.include_pagedown() ##}

    {% endblock %} 

    <script>

        jQuery(document).ready(function () {
            {% block docready %}{% endblock %} 
        });

    </script>

  </body>
</html>
